.App-grid {
  flex-basis: 100%;
}

.App-grid-row {
  float:left;
  width:100%;
  min-width: 234px;
}

.App-grid-cell {
  display: inline-block;
  text-align: left;
  font-size: 0;
  margin: 2px;
  float: left;
}

.App-grid-20 {
  width: 18%;
}

.App-square {
  overflow: hidden;
  border-radius: 8px;
}

.App-square-100 {
  width: 100%;
  padding-bottom: 100%;
}

.App-square:hover{
  background: #444444;
}

button.App-square:focus{
  outline: 0px;
}

button.App-square {
  text-align: center;
  background: black;
  border-radius: 12px;
  border: 0px;
}

.App-square.filled {
  background: cyan;
  outline: 0px;
}

.App-control {
  margin: 0;
  float: left;
  flex-basis: 100%;
  text-align: center;
}

.App-control span {
  font-size: 1.2em;
}

.App-control h1 {
  font-size: 3em;
}

.App-control button {
  padding: 20px;
  margin: 20px auto;
  display: block;
  border-style: solid;
}

.App-control  button:focus {
  outline: 0px;
}

